# MLOps
great-expectations==0.15.7
kubernetes==23.6.0

# ml_projects
psycopg2-binary==2.9.3
pydantic==1.9.0
coloredlogs==15.0.1
sqlalchemy==1.3.13
alembic==1.7.7
fastapi==0.76.0
uvicorn==0.17.6
ujson==5.4.0
fire==0.4.0
passlib==1.7.4
python-jose==3.3.0
pydantic[email]==1.9.0
stringcase==1.2.0
python-multipart==0.0.5
mongoengine==0.24.1
dramatiq[redis]==1.13.0
azure-storage-blob==12.12.0

# AutoML
scikit-learn==1.0.2
numpy==1.21.5
pandas==1.3.5
fuzzywuzzy==0.18.0
python-Levenshtein-wheels==0.13.2