# MLOps
## serving
kubernetes 

# ml_projects
psycopg2-binary
pydantic
coloredlogs
sqlalchemy
alembic
fastapi
uvicorn
ujson
fire
uuid
passlib
python-jose
pydantic[email]
python-multipart

# AutoML
keras
ray
sklearn
numpy
pandas
fuzzywuzzy