# MLOps

## monitoring
great-expectations

## serving
kubernetes 

# ml_projects
psycopg2-binary
pydantic
coloredlogs
sqlalchemy
alembic
fastapi
uvicorn
ujson
fire
passlib
python-jose
pydantic[email]
stringcase
python-multipart
mongoengine
dramatiq[redis]
azure-storage-blob

# AutoML
ray
sklearn
numpy
pandas
fuzzywuzzy
python-Levenshtein-wheels